.home-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-login1 {
  width: 100%;
  height: 891px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: #5d5a6f;
}
.home-group76261 {
  top: 129px;
  left: 0px;
  right: 0px;
  width: 1027px;
  height: 649px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.home-left1 {
  top: 52px;
  left: 90px;
  width: 404px;
  height: 571px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-image1 {
  left: 0px;
  right: 0px;
  width: 308px;
  bottom: 0px;
  height: 308px;
  margin: auto;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
}
.home-text1 {
  top: 104px;
  color: rgba(10, 3, 60, 1);
  width: 374px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-rectangle28681 {
  top: 0px;
  left: 0px;
  width: 177px;
  height: 87px;
  position: absolute;
  border-color: transparent;
}
.home-form1 {
  top: 0px;
  left: auto;
  right: 90px;
  width: 375px;
  bottom: 0px;
  height: 546px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.home-keepme1 {
  left: 5px;
  width: 358px;
  bottom: 99px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text021 {
  left: 31px;
  color: rgb(93, 90, 111);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: underline;
}
.home-checked24outline1 {
  top: 2px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-passord1 {
  top: 316px;
  left: 5px;
  width: 370px;
  height: 85px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  padding-top: 0;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-name1 {
  top: 35px;
  left: 0px;
  width: 370px;
  height: 50px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.home-eye111 {
  top: 16px;
  right: 38px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.home-lockpadlocksafesecurityprotectedlockalt24outline1 {
  top: 16px;
  left: 1.4999994039535522px;
  width: 15px;
  height: 18px;
  position: absolute;
}
.home-textinput1 {
  width: 315px;
  height: 100%;
}
.home-text031 {
  color: rgb(10, 3, 60);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.home-passord11 {
  top: 220px;
  left: 5px;
  width: 370px;
  height: 85px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-name11 {
  top: 35px;
  left: 0px;
  width: 370px;
  height: 50px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.home-eye1111 {
  top: 16px;
  right: 38px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.home-lockpadlocksafesecurityprotectedlockalt24outline11 {
  top: 16px;
  left: 1.4999994039535522px;
  width: 15px;
  height: 18px;
  position: absolute;
}
.home-textinput11 {
  width: 315px;
  height: 100%;
}
.home-text041 {
  color: rgba(10, 3, 60, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.home-tendangnhap1 {
  top: 120px;
  left: 5px;
  width: 370px;
  height: 85px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-group76081 {
  top: 35px;
  left: 0px;
  width: 370px;
  height: 50px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.home-message24outline1 {
  top: 16px;
  left: 1.4999994039535522px;
  width: 15px;
  height: 18px;
  position: absolute;
}
.home-textinput21 {
  width: 315px;
  height: 100%;
}
.home-text061 {
  color: rgba(10, 3, 60, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.home-option1 {
  top: 70px;
  left: 45px;
  width: 291px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text081 {
  left: 0px;
  color: rgba(93, 90, 111, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle28651 {
  top: 15px;
  right: 0px;
  width: 20px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.home-rectangle28661 {
  top: 15px;
  left: 0px;
  width: 20px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.home-google1 {
  top: 0px;
  left: 0px;
  width: 374px;
  height: 50px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.home-text101 {
  top: 10px;
  left: 0px;
  color: rgba(93, 90, 111, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.home-icon1 {
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(233, 62, 48, 1);
}
.home-googleplus111 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-button1 {
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 188px;
  bottom: 23px;
  height: 42px;
  margin: auto;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  padding-top: 10px;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgb(255, 122, 0);
}
.home-button:hover1 {
  background-color: #d26603;
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text121 {
  align-self: flex-end;
}
.home-text141 {
  color: #ff7a00;
}
.home-container21 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-line1 {
  top: 80px;
  left: 0px;
  right: 0px;
  width: 1px;
  height: 500px;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
@media (max-width: 1600px) {
  .home-container1 {
    background-color: #5d5a6f;
  }
  .home-login1 {
    height: 644px;
    background-color: #5d5a6f;
  }
  .home-group76261 {
    top: 62px;
    left: 0px;
    right: 0px;
    width: 906px;
    height: 519px;
    margin: auto;
  }
  .home-left1 {
    top: 26px;
    left: 54px;
    width: 370px;
    height: 457px;
  }
  .home-image1 {
    width: 366px;
    height: 325px;
    align-self: flex-end;
  }
  .home-text1 {
    top: 49px;
    height: mixed;
    font-size: 26px;
  }
  .home-rectangle28681 {
    width: var(--dl-size-size-medium);
    height: 47px;
  }
  .home-form1 {
    top: 0px;
    right: 37px;
    bottom: 0px;
    height: 458px;
    margin: auto;
  }
  .home-keepme1 {
    top: 339px;
  }
  .home-passord1 {
    top: 258px;
    height: 92px;
  }
  .home-eye111 {
    right: 46px;
  }
  .home-lockpadlocksafesecurityprotectedlockalt24outline1 {
    top: 5px;
    left: 5px;
    width: 31px;
    height: 37px;
  }
  .home-textinput1 {
    width: 296px;
    height: 41px;
  }
  .home-passord11 {
    top: 164px;
  }
  .home-eye1111 {
    right: 46px;
  }
  .home-lockpadlocksafesecurityprotectedlockalt24outline11 {
    top: 5px;
    left: 5px;
    width: 31px;
    height: 37px;
  }
  .home-textinput11 {
    width: 296px;
    height: 41px;
  }
  .home-tendangnhap1 {
    top: 80px;
  }
  .home-message24outline1 {
    top: 5px;
    left: 3px;
    width: 33px;
    height: 39px;
  }
  .home-textinput21 {
    width: 296px;
    height: 41px;
  }
  .home-option1 {
    top: 58px;
  }
  .home-text081 {
    top: 0px;
  }
  .home-button1 {
    left: 0px;
    right: 0px;
    width: 186px;
    bottom: 33px;
    margin: auto;
    position: absolute;
    align-self: center;
    text-align: center;
    border-width: 0px;
    background-color: rgb(255, 122, 0);
  }
  .home-container11 {
    align-self: flex-end;
  }
  .home-line1 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 400px;
    margin: auto;
  }
}
@media (max-width: 1200px) {
  .home-group76261 {
    width: 972px;
    height: 689px;
  }
  .home-left1 {
    height: 564px;
  }
  .home-eye111 {
    top: 16px;
    left: auto;
    right: 40px;
  }
  .home-lockpadlocksafesecurityprotectedlockalt24outline1 {
    left: -3px;
    width: 24px;
    height: 21px;
  }
  .home-textinput1 {
    left: 0px;
    right: 0px;
    width: 324px;
    bottom: 0px;
    height: 50px;
    margin: auto;
    position: absolute;
    border-color: var(--dl-color-gray-700);
    border-width: 0, 5;
    border-radius: 10px;
  }
  .home-eye1111 {
    top: 16px;
    left: auto;
    right: 40px;
  }
  .home-lockpadlocksafesecurityprotectedlockalt24outline11 {
    left: -3px;
    width: 24px;
    height: 21px;
  }
  .home-textinput11 {
    left: 0px;
    right: 0px;
    width: 324px;
    bottom: 0px;
    height: 50px;
    margin: auto;
    position: absolute;
    border-color: var(--dl-color-gray-700);
    border-width: 0, 5;
    border-radius: 10px;
  }
  .home-message24outline1 {
    width: 18px;
  }
  .home-textinput21 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 324px;
    height: 50px;
    margin: auto;
    position: absolute;
    border-color: var(--dl-color-gray-700);
    border-width: 0, 5;
    border-radius: 10px;
  }
  .home-option1 {
    width: 271px;
  }
  .home-text081 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-rectangle28651 {
    left: auto;
    right: 0px;
  }
  .home-google1 {
    width: 376px;
  }
  .home-text101 {
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
  }
  .home-button1 {
    left: 0px;
    color: rgb(255, 255, 255);
    right: 0px;
    width: 307px;
    bottom: 48px;
    height: 42px;
    margin: auto;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgb(255, 122, 0);
  }
}
